<div class='flex-container flex-center'>
  <div id='main-container' class='flex-container flex-center flex-column'>
    <div id='calendar-container' *ngFor="let month of months">
      <div class='flex-container flex-center month-name'>
        <div>{{month.name}}</div>
      </div>
      <div class='flex-container'>
        <div *ngFor="let wday of wdays">
          <div class='weekday flex-container flex-center'>{{wday}}</div>
        </div>
      </div>
      <div class='flex-container flex-wrap'>
        <div *ngFor="let day of month.days">
          <div class='calendar-day flex-container' [ngClass]="{'inactiveDay ': !isInMonth(day?.dayDate, month), 'weekend': isWeekend(day?.dayDate?.day())}" (click)="createReminder(day)">
            <div class='day-date'>
              {{day?.dayDate?.date()}}
            </div>
            <div class='reminders-container flex-container flex-column'>
              <div class='reminder' *ngFor="let reminder of day.reminders | orderBy: reminder?.time" [matTooltip]="getReminderText(reminder)" matTooltipClass="custom-tooltip"
              [ngStyle]="{'background': reminder.background}" (click)="editReminder(day, reminder); $event.stopPropagation()"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='plus-button flex-container flex-center' (click)="drawMonth()">
      <span class='plus-icon'>+</span>
    </div>
  </div>
</div>