.custom-tooltip {
  color: #fff;
  font-size: 13px;
  background: darkgray;
  white-space: pre-line;
}
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./app/app.component.scss";
